<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>江苏AB股份有限公司</title>
	<link rel="stylesheet" href="/application/Public/bootstrap/css/bootstrap.min.css"/>
	
	
	<script src="/application/Public/bootstrap/js/jquery.min.js"></script>
	<script src="/application/Public/bootstrap/js/bootstrap.min.js"></script>
	<style>
    	*{
				font-family: 微软雅黑;
		 }
		.panel-heading{
			background: #048044;
			color: #fff;
		}
		.panel-body a{
			color:#333;
		}

		.text{
			margin-top: 15px;
		}
    </style>
</head>
<body>
	
	<div class="container ">
		<include file="Public:top" />	
		<div class="row">
			<include file="Public:left" />
			<div class="right col-md-9 pull-left">
				<div class="panel">
					<div class="panel panel-heading">
						您现在的位置：后台首页
					</div>
					<div class="panel panel-body">
						<h4 class="">欢迎登录AB后台</h4>
					   <img src="http://www.chinaab.com/data/images/banner/20150701084516_724.jpg" alt="" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	
</script>
</html>