			<div class="left col-md-3 pull-left ">
				<div class="panel" style="border: 0;">
			  		<div class="panel-heading">
			  			<div >新闻管理</div>
			  			
			  		</div>
			  		<div class="panel-body">
			  			<ul class="list-group">
							  <li class="list-group-item">
								<a href="/index.php/admin/news/index">新闻列表</a>
							  </li>
							  <li class="list-group-item">
								<a href="/index.php/admin/news/add">添加新闻</a>
							  </li>
			            </ul>
			  		</div>
				</div>
				<div class="panel" style="border: 0;">
			  		<div class="panel-heading">
			  			<div >产品管理</div>
			  			
			  		</div>
			  		<div class="panel-body">
			  			<ul class="list-group">
							  <li class="list-group-item">
								<a href="/index.php/admin/product/index">产品列表</a>
							  </li>
							  <li class="list-group-item">
								<a href="/index.php/admin/product/add">添加产品</a>
							  </li>
			            </ul>
			  		</div>
				</div>
				<div class="panel" style="border: 0;">
			  		<div class="panel-heading">
			  			<div >公司简介</div>
			  			
			  		</div>
			  		<div class="panel-body">
			  			<ul class="list-group">
							  <li class="list-group-item">
								<a href="/index.php/admin/company/index">简介列表</a>
							  </li>
							  <li class="list-group-item">
								<a href="/index.php/admin/company/add">添加简介</a>
							  </li>
			            </ul>
			  		</div>
				</div>
			</div>