		<div class="row" class="top text-default">
			<h4  class="pull-left"><a href="/index.php/admin/index/index" style='color:#333;'>AB公司后台管理</a></h4>
			<div class="dropdown pull-right" >
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    管理员信息
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="#">管理员：<?php echo $_SESSION['username'] ?></a></li>
				    <li><a href="#">修改密码</a></li>
				    <li><a href="/index.php/admin/login/logout">退出登录</a></li>
				  </ul>
			</div>

		</div>
