<ul class="nav nav-pills">
  		 
  		<li role="presentation" class="dropdown">
    		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      		公司概况
    		</a>
    		<ul class="dropdown-menu">
				 <li><a href="/index.php/Home/About/about/id/1">关于AB</a></li>
	     		 <li><a href="/index.php/Home/About/about/id/10">AB文化</a></li>
	     		 <li><a href="/index.php/Home/About/about/id/9">领导致辞</a></li>
	     		 <li><a href="/index.php/Home/About/about/id/8">资质荣誉</a></li>
    		</ul>
  	   </li>
  	   <li role="presentation" class="dropdown">
    		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      		内衣城堡
    		</a>
    		<ul class="dropdown-menu">
          <volist name="pr" id="prlist">
            <li><a href="/index.php/home/product/productlist/id/{$prlist['id']}" >{$prlist['typename']}</a></li>
          </volist>
    			
    		</ul>
  	   </li>
  	   <li >
    		<a  href="/index.php/Home/About/about/id/7" role="button">
      		联系我们
    		</a>
    		
  	   </li>
  		
	</ul>