<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>江苏AB股份有限公司</title>
	<link rel="stylesheet" href="/application/Public/bootstrap/css/bootstrap.min.css"/>
	
	
	<script src="/application/Public/bootstrap/js/jquery.min.js"></script>
	<script src="/application/Public/bootstrap/js/bootstrap.min.js"></script>
	<style>
    	*{
				font-family: 微软雅黑;
		 }
		.panel-heading{
			background: #048044;
			color: #fff;
		}
		.panel-body a{
			color:#333;
		}

		.text{
			margin-top: 15px;
		}
    </style>
</head>
<body>
	
	<div class="container ">
		<include file="Public:top" />	
		<div class="row">
			<include file="Public:left" />
			<div class="right col-md-9 pull-left">
				<div class="panel">
					<div class="panel panel-heading">
						您现在的位置：新闻管理
					</div>
					<div class="panel panel-body">
						<table class="table table-striped">
							
								<tr>
									<th>标题</th>
									<th>时间</th>
									<th>修改</th>
									<th>删除</th>
								</th>
								<volist name="product" id='productlist'>
							    <tr>
							    	
							    	<td>{$productlist['title']}</td>
							    	<td>{$productlist['pubtime']}</td>
							    	<td><a href="updatefm/id/{$productlist['id']}" class="btn btn-primary btn-sm" style="color:#fff;">修改</a></td>
							    	<td><a href="delete/id/{$productlist['id']}" class="btn btn-danger btn-sm" style="color:#fff;">删除</a></td>
							    </tr>
								</volist>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	
</script>
</html>